	h1 {
		font-size: 60px;
		margin: 0px;
		color: pink;
	}

	h2 {
		font-size: 40px;
		color: lightblue;
	}

	h3 {
		text-decoration: underline;
	}

	h4 {
		color: pink;
		font-size: 20px;
		font-family: 'Raleway', sans-serif;
	}

	body {
		font-family: 'Raleway', sans-serif;
	}

	#header {
		border-bottom: 1px solid pink;
		padding-bottom: 10px;
	}

	.whole {
		padding: 20px;
	}

	.border {
		padding-top: 10px;
		border-radius: 50px;
	}

	.nounderline {
		text-decoration: none;
		color: lightblue;
	}

	.padding {
		padding: 10px;
		padding-left: 0px;
		margin-bottom: 10px;
	}
